body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.container-dark {
  background-color: #1f2937;
}

.container-light {
    background-color: #f9faf8;
}

.container-light.badge {
    display: flex;
    justify-content: center;
}

.container-gray {
    background-color: #e5e7eb;
}

.header {
  padding: 20px;
}

.header-inner {
    display: flex;
    margin: 0 auto;
    max-width: 1600px;
    justify-content: space-between;
}

.content {
    display: flex;
    margin: 0 auto;
    max-width: 1600px;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.content-badge {
    background-color: #3882F6;
    display: flex;
    width: 100%;
    max-width: 800px;
    margin: 100px auto;
    flex-direction: row;
    align-items: center;
    padding: 50px 20px;
    border-radius: 8px;
    justify-content: center;
}

.inner-badge {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 100px;
}

.button-blue.badge-button {
    border: 3px solid white;
}

.content-quote {
    display: flex;
    margin: 0 auto;
    max-width: 800px;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    gap: 20px;
}

.cards {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 50px;
}

.header-logo {
    font-family: roboto, sans-serif;
    font-size: 24px;
    color: #f9faf8;
    font-weight: 700;
}

.nav {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.header-link a{
    font-family: roboto, sans-serif;
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

.hero .main-text {
    font-family: roboto, sans-serif;
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.hero .secondary-text {
    font-family: roboto, sans-serif;
    font-size: 18px;
    color: #e5e7eb;
}

.button-blue {
    background-color: #3882F6;
    font-family: roboto, sans-serif;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    color: #e5e7eb;
    padding: 8px 30px;
    max-width: 150px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: auto 24px;
}

.hero {
    display: flex;
    margin: 0 auto;
    max-width: 1600px;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.hero-image img {
    width: 500px;
    height: auto;
    border-radius: 8px;
    margin: auto 24px;
}

.content-title {
    font-family: roboto, sans-serif;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.inner-cards img {
    width: 250px;
    height: auto;
    border-radius: 8px;
    border: 5px solid #3882F6;
}

.inner-cards {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.inner-text {
    font-family: roboto, sans-serif;
    font-size: 15px;
    max-width: 200px;
    color: #1F2937;
    text-align: center;
    text-wrap: balance;
}

.inner-quote span {
    font-family: roboto, sans-serif;
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    text-align: left;
    font-style: italic;
}

.signature span {
    font-family: roboto, sans-serif;
    font-size: 18px;
    color: #1F2937;
    font-weight: 900;
}

.signature {
    text-align: right;
    width: 100%;
}

.badge-text {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 8px;
}

.badge-title {
    font-family: roboto, sans-serif;
    color: #e5e7eb;
    font-size: 20px;
    font-weight: 700;
}

.badge-subtext {
    font-family: roboto, sans-serif;
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 500;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text {
    font-family: roboto, sans-serif;
    color: #e5e7eb;
    font-weight: 300;
}

.footer-container {
    padding: 20px;
    /* margin-top: auto; */
}

